/**
 * Event Listing Admin CSS
 */
.jd-event-listing .post-thumbnail {
	float: left;
	width: 20%;
	clear: both;
}

.jd-event-listing .jd_event_details {
	float: right;
	width: 70%;
}

.jd-event-listing div.event-detail {
	float: left;
	clear: both;
}

.jd-event-listing div.event-detail i {
	font-weight: 600;
}

.jd_events_pagination {
	float: left;
	width: 100%;
	margin: auto;
	text-align: center;
}


